html {
    scroll-behavior: smooth;
}

.logoHeader {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.316), rgba(0, 0, 0, 0.716)),
    url('images/wallpaper4.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    animation: fadeIn 2s ease;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7);      
}

header p {
    animation: fadeIn 3s ease;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);   
}

@keyframes fadeIn {
    from {opacity:0; transform:translateY(30px);}
    to {opacity:1; transform:translateY(0);}
}
